.contenedor {
    width: 80%;
    height: 50%;
    margin: 0 auto;
    vertical-align: middle;
    position: absolute;
    top: 10%;
    left: 10%;
}

.containerForm {
    display: inline-block;
    padding: 2rem 56px 0px 655px;
    justify-content: center;
    align-items: center
}

.nuevo {
    background-color: #4caaaf;
    border: none;
    color: white;
    padding: 13px 15px 13px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}

.acciones {
    background-color: #4caaaf;
    border: none;
    color: white;
    padding: 0px 15px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}