.registro {
    width: 100%;
    height: absolute;
    vertical-align: middle;
    position: absolute;
    left: 30%;
    background-color: #eaf1f3;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
    -moz-box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
    box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
    margin-top: 100px;
}
.col {
    border: 3px double #42929f;
    /* padding: 50px; */
    margin: 20px;
    max-width: absolute;
    flex-grow: 1;
}

.btn-reg {
    /* margin: 1px; */
    justify-items: space-between;
}

