.sesion {
    display: flex;            
    margin-top: 20px;
    /* border: 2px solid blue; */
    background-color: #eaf1f3;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
    -moz-box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
    box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
}

.labo-img {
    max-width: 100%;
    /* display: inherit; */
    /* display: flex; */
    /* align-items: center */
}

.fila {
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
    
        }

.col-md-4 {
    border: 3px double #42929f;
    padding: 50px;
    margin: 20px;
}

    
