#footer {
    background: #42929f;
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer hr {
    height: 0px;
    width: 100px;
    overflow: visible;
    border-color: white;
    margin: 5px auto;
}

 li {
    color:white;
    text-decoration: none;
}

li:hover {
    color: #00050a;
    text-decoration: none;
}

.hca {
    color: white;
}

.FSJS {
    color: white;
}

.FSJS:hover {
    text-decoration: none;
    color: black;
}