.sesion {
    display: flex;
    height: 80%;
    top: 15%;
    margin-top: 6%;
    background-color: #eaf1f3;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
    -moz-box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);
    box-shadow: 10px 10px 20px 0px rgba(66,146,159,0.62);    
}

.labo-img {
    margin: 5px;
    padding: 10px;
    justify-items: center;
    display: cover;
   }

.compSes {
    margin: 20px 10px;
    justify-content: flex-end;
    flex-wrap: inherit;    
}

.ses {
    border: 3px double #42929f;
    padding: 20px;
    max-width: absolute;   
    margin: 0; 
}

.datos-sesion {
    margin: 5px 25px 15px;
}

.registro {
    padding: 0;
    margin: 0;
}

.bienvenido {
    text-shadow: 1px 3px 0 #969696, 
    1px 13px 5px #aba8a8, 
    2px 2px 2px rgba(66,146,159,0);
    }

    .disabled-link {
        pointer-events: none;
      }