.menu a {
    background-color: #42929f;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* font-family: 'Shadows Into Light', cursive; */
}

.menu a:hover {
    background-color: #65daed;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    /* font-size: 1em; */
}

.formato-im {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0;
    list-style: none;
    font-size: 15px;
}

#mono {
    font-size: 35px;
    margin-right: 9px;
}

#mono1{
    font-size: 35px;
    margin-right: 9px;
    margin-top: 8px;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
}

#citas{
    color: white;
}

#dropdownCitas{
    color: white;
    font-size: 17px;
}