.about {
    background-color: #fafafa;
    padding: 60px;
}

#fila-quienes {
    background-color: #eaf1f3;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    -webkit-box-shadow: 15px 15px 14px -6px rgba(0,0,0,0.35);
    -moz-box-shadow: 15px 15px 14px -6px rgba(0,0,0,0.35);
    box-shadow: 15px 15px 14px -6px rgba(0,0,0,0.35);
}

.about img {
    max-width: 100%;
}

.quienes {
    margin-bottom: 15px;
}

.quienes-descripcion {
    font-size: 15px;
    padding-top: 15px;
    text-align: justify;
}

#vision-mision {
    padding-top: 15px;
}

.vision-mision-detalles {
    background-color: #eaf1f3;
    margin-top: 20px;
    border-radius: 10px;
    /* border: 1px solid #42929f; */
    font-size: 15px;
    padding: 10px;
    text-align: justify;
    -webkit-box-shadow: 15px 15px 14px -6px rgba(0,0,0,0.35);
    -moz-box-shadow: 15px 15px 14px -6px rgba(0,0,0,0.35);
    box-shadow: 15px 15px 14px -6px rgba(0,0,0,0.35);
}

.vision-mision-descripcion {
    padding-top: 10px;
}

