    
.navbar {
    box-shadow: 6px -4px 16px 10px #0e5061;
    background-color: #42929f;
    /* height: 67px; */
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size:  15px;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}


.navbar-collapse {
    background-color: #42929f;
    justify-content: space-between;
    padding: 10px;
}



 