.navbar {
    background-color: #42929f;
    box-shadow: 6px -4px 16px 10px #0e5061;
}

.navbar-nav>ul>li>a {
    color: white;
    font-size:  15px;
    padding-left: 5px;
}

.navbar-light .navbar-nav .nav-link {
    /* color: yellow; */
    font-size:  15px;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #42929f;
}

/* .navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size:  15px;
    padding-left: 5px;
} */

/* .dropdown-item {
    display: block; 
    width: 100%; 
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
} */